body{
	background-color: lightgrey;
}


.navbar{ background:  #0047b3;}
.nav-link, .navbar-brand{ color: #ffffff; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #ffffff; color:   #000000; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background: #4dff4d !important;}


#title{
	font-family: verdana;
	font-style:italic;
}

.card-title {
  color: black;
  font-family: verdana;
}

th{
text-align:left;
	font-family:Istok Web,Sans-Serif;
	font-size: 16pt;
}







