{% load static%}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style5.css'%}">

  </head>
  <body>

 <nav class="navbar navbar-expand-lg fixed-top">  
 <a class="navbar-brand" href="index1-1"><img src="{% static 'images/Tilda_Icons_13ph_wedding.svg'%}" width="30" height="30">Главная</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
 <li class="nav-item">
     <a class="nav-link" data-value="about" href="index3"><img src="{% static 'images/Tilda_Icons_13ph_images.svg'%}" width="30" height="30">Портфолио</a>        </li>  
<li class="nav-item">
    <a class="nav-link " data-value="portfolio"href="index2"><img src="{% static 'images/Tilda_Icons_13ph_tune.svg'%}" width="30" height="30">Пакеты</a>    
 </li>
 <li class="nav-item"> 
    <a class="nav-link " data-value="blog" href="#"><img src="{% static 'images/Tilda_Icons_13ph_mirror.svg'%}" width="30" height="30">Отзывы</a>         </li>   
 
<li class="nav-item"> 
 <a class="nav-link " data-value="contact" href="index4"><img src="{% static 'images/Tilda_Icons_13ph_phone.svg'%}" width="30" height="30">Контакты</a>       </li> 
</ul> 
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
</div></nav>

<hr class="my-4">

<div class="element simple-text transparentbg" id="w_32855572" style="background-color: transparent; ">
    <div class="text-box text-box-test1  nocolumns" style="max-width: 100%; -moz-column-gap: 10px; -webkit-column-gap: 10px; column-gap: 10px; letter-spacing: 0.05em; line-height: 1.6; font-family: 'Proba Pro'; font-size: 16px !important;  margin: 0 auto; ">
        <p style="text-align: center;"><span style="font-family:raleway light;"><span style="font-size: 18px;">Мы очень признательны за ваши теплые слова! Ведь они - настоящая награда за наш труд. </span></span></p>

<p style="text-align: center;"><span style="font-family:raleway light;"><span style="font-size: 18px;">Мы безмерно благодарны всем, кто доверил нам запечатлеть свой свадебный день, первые шаги ребенка или любое другое значимое событие. </span></span></p>

<p style="text-align: center;"><span style="font-family:raleway light;"><span style="font-size: 18px;">Спасибо Вам!</span></span></p>

<p style="text-align: center;"><span style="font-family:raleway light;"><span style="font-size: 18px;">А здесь лишь малая часть тех слов, что остались в наших сердцах после знакомства с вами.</span></span></p>
        
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
         <p><img src="{% static 'images/1sv.jpg'%}" align="center" alt="" width="200" height="200" class="round"></p>
      <h3 align="center">Арман и Жанна</h3>
    </br>

    <h5 align="center">Свадьба</h5>
    
        <p><span style="font-family:raleway light;"><span style="font-size: 18px;">Смотрели с Арно - каждую фотографию комментировали) Такие воспоминания невероятные!!!!!! Мне так понравилось!!! СПАСИБО!!!!!<br />
Вы - лучшие!</span></span></p>
</div>

    <div class="col-sm">
       <p><img src="{% static 'images/2sv.jpg'%}" align="center" alt="" width="200" height="200" class="round"></p>
      <h3 align="center">Ильзат и Елена</h3>
    </br>

    <h5 align="center">Свадьба</h5>
    
        <p><span style="font-family:raleway light;"><span style="font-size: 18px;">Фото просто великолепные!!! К концу серии у меня начали подкашиваться коленки, потому что мне казалось, что я заново пережила весь день - вам так здорово удалось уловить и детали, и настроение, и энергетику!!! А художественные моменты и вовсе сделали все происходящее в сто раз лучше, чем даже было на самом деле! А самое главное, что я себе безумно нравлюсь на фото, потому что вы меня, что называется "увидели" так, как вижу себя я! Это просто непередаваемо! Илья посмотрел и тоже был в восторге!!! Спасибо огромное еще раз!!! Это счастье и удача, что мы вас нашли!</span></span></p>
</div>
        
    <div class="col-sm">
       <p><img src="{% static 'images/3sv.jpg'%}" alt="" width="200" height="200" class="round"></p>
      <h3 align="center">Нурбол и Самал</h3>
    </br>

    <h5 align="center">Свадьба</h5>
    
        <p><span style="font-family:raleway light;"><span style="font-size: 18px;"> Спасибо Вам огромное за чудесные фотографии с самого лучшего дня) Не зря, я давно вас заприметила и при подготовке к свадьбе не стала даже искать другого фотографа и как хорошо, что ты в эту дату был свободен! С вами очень легко, вы сразу поняли меня и мое настроение и реально, было такое ощущение, что мы уже давно друг друга знаем) Ну, а сами фотографии - вообще супер! Такие живые, яркие, эмоциональные и конечно качество! В общем, всем буду рекомендовать тебя и наши дальнейшие фотосессии будут только с тобой)) Спасибо еще раз и желаем вам побольше интересных работ!!</span></span></p>
</div>
</div>
</div>



        
        
    


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
