{% load static%}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style2.css'%}">
   

  </head>
  <body>

    

<nav class="navbar navbar-expand-lg fixed-top">  
 <a class="navbar-brand" href="index1-1"><img src="{% static 'images/Tilda_Icons_13ph_wedding.svg'%}" width="30" height="30">Главная</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
 <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
 <li class="nav-item">
     <a class="nav-link" data-value="about" href="index3"><img src="{% static 'images/Tilda_Icons_13ph_images.svg'%}" width="30" height="30">Портфолио</a>        </li>  
<li class="nav-item">
    <a class="nav-link " data-value="portfolio"href="#"><img src="{% static 'images/Tilda_Icons_13ph_tune.svg'%}" width="30" height="30">Пакеты</a>    
 </li>
 <li class="nav-item"> 
    <a class="nav-link " data-value="blog" href="index5"><img src="{% static 'images/Tilda_Icons_13ph_mirror.svg'%}" width="30" height="30">Отзывы</a>         </li>   
 
<li class="nav-item"> 
 <a class="nav-link " data-value="contact" href="index4"><img src="{% static 'images/Tilda_Icons_13ph_phone.svg'%}" width="30" height="30">Контакты</a>       </li> 
</ul> 
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
</div></nav>

<hr class="my-4">


<br>
<img src="{% static 'images/IMG_20190409_082440.jpg'%}" alt="logo" width="100%" height="500" class="lazied">

<div class="container">
  <div class="row">
    <div class="col-sm">

<div class="card" style="width: 18rem;">
   
  <img src="{% static 'images/1.jpg'%}" width="100%" height="200" class="card-img-top" alt="...">
  <hr>
  <div class="card-body">
    <h2 class="car" align="center">Lost in stone jungle</h2>
    <p class="card-text" align="center">Фото-пакет "Lost in stone jungle" - включает непринужденную прогулку по прекрасным улочкам золотого квадрата нашего города. Длительность съемки 1 час 30 минут. </p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Подробнее...</a>
    </p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Результат: урбанистические casual/fashion/life style фотографии, из которых:
    5 фотографий, обработанных в авторской ретуши. 
    100 фотографий в цветокоррекции.
    Стоимость 10 000 тг.
  
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>




<div class="col-sm">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/2.jpg'%}" width="200" height="200" class="card-img-top" alt="...">
    <hr>
  <div class="card-body">
    <h2 class="car" align="center">На берегу неба</h2>
    <p class="card-text" align="center">Фото-пакет "На берегу неба" - включает прогулку вдоль береговой линии Капчагайского водохранилища. Длительность съемки 1 час.</p>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Подробнее...</button>
<div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Результат: Потрясаюшие романтические фотографии у воды, будто Вы побывали на берегу океана, из которых:
      15 фотографий, обработанных в авторской ретуши. 
      100 фотографий в цветокоррекции.
      Стоимость 15 000 тг.
      </div>
    </div>
  </div>
</div>
</div>
</div>


 
<div class="col-sm">
<div class="card" style="width: 18rem;">
  <img src="{% static 'images/3.jpg'%}" width="200" height="200" class="card-img-top" alt="...">
    <hr>

  <div class="card-body">
    <h2 class="car">Три метра над уровнем неба</h2>
    <p class="card-text" align="center">Фото-пакет "Три метра над уровнем неба" включает в себя съемку в предгорьях Зайлийского Алатау. Длительность съемки 1 час 30 минут.</p>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">Подробнее...</button>
<div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body">
        Результат: Захватывающие дух фотографии в горной местности Алматы, с завораживающим видом на город, из которых:
15 фотографий, обработанных в авторской ретуши. 
100 фотографий в цветокоррекции.
Стоимость 15 000 тг.
      </div>
    </div>
  </div>
</div>
</div>
</div>

<p class="card-text"><strong>Локации на выбор и в зависимости от идеи, сезона и физической подготовки участников: Бутаковское ущелье, плато Кок-Жайлау, Кимассаровское ущелье (качели), БАО (включая космостанцию),  Чимбулак.</strong></p>


   <div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/IMG_20181202_082930.jpg'%}" width="400" height="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Продакшн и дополнительыне опции</h5>
          <p>Заявка на съемку.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/DSC_0765.jpg'%}" width="400" height="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Рекламная фотосъемка</h5>
          <p>Услуги профессионального фотографа</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/DSC_0419.JPG'%}" width="400" height="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Разработка концепций</h5>
          <p>Визуализация идей на основе информации от клиента.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>

<br>

<h4 class="post-heading"><strong>Ваша заявка</strong></h4>
  <div class="container">
  <div class="row">
    <div class="col-sm-6">

    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите ваше имя">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Адрес электронной почты</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите адрес вашей почты здесь"> <small id="emailHelp" class="form-text text-muted"></small>
     </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Телефон</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите номер телефона"> <small id="emailHelp" class="form-text text-muted"></small>
     </div>
  </div>
    </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Коментарий</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlFile1">Вложить файл (если требуется)</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






  </body>
</html>
